
DZ.py

.idea/inspectionProfiles/profiles_settings.xml

.idea/vcs.xml

.idea/workspace.xml

__pycache__/sudneko_stepan_dz_3.cpython-39.pyc

.idea/GB-Lessons.iml

.idea/misc.xml

.idea/modules.xml
